
body {
    background-image: url(../img/titleBackground.png);
    width: 100%;
    height: 100%;
    float: left;
}
main {
    background-image: url(../img/titleBackground.png);
    width: 100%;
    height: 100%;
    float: left;
}
#door {
    position: absolute;
    top: 20%;
    left: 63%;
    width: 20%;
    height: 70%;
    z-index: 1;
}

